body {
    background-image: url('https://placekitten.com/g/1920/1080');
    background-repeat: no-repeat;
}

div.page-header, p.lead {
    color: #ffffff !important;
}

div.regPanel {
    margin-top: 1rem;
}