Sys.setenv(http_proxy="")
Sys.setenv(https_proxy="")
Sys.setenv(HTTP_PROXY="")
Sys.setenv(HTTPS_PROXY="")

SCIDB_HOST = "" #Enter Hostname or IP of your SciDB Host here
SCIDB_PORT = "" #Enter Port of your SciDB Host here
SCIDB_USER = "" #Enter Username for your SciDB Host here
SCIDB_PW   = "" #Enter Password for your SciDB User

# We don't want to pass connection details information in every single gdal_translate call und thus set it as environment variables
Sys.setenv(SCIDB4GDAL_HOST=paste("https://",SCIDB_HOST, sep=""),
           SCIDB4GDAL_PORT=SCIDB_PORT,
           SCIDB4GDAL_USER=SCIDB_USER,
           SCIDB4GDAL_PASSWD=SCIDB_PW)


library(scidbst)
scidbconnect(host=SCIDB_HOST,port = SCIDB_PORT,
             username = SCIDB_USER,
             password = SCIDB_PW,
             auth_type = "digest",
             protocol = "https")

scidbst.ls(extent=TRUE) # query available datasets
